#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body {
  background-color: #ffe6f2;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.card-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* Ensure the cards stretch to the same height */
  gap: 10px; /* Optional: Adds space between the cards */
  margin-top: 20px; /* Optional: Adds space above the cards */
}

.card-container > * {
  flex: 1; /* Optional: Makes the cards take equal space */
  max-width: 45%; /* Optional: Limits the maximum width of each card */
}